body {
    background-color:#E5E5E5;
    font-family: 'Montserrat', sans-serif;
    }

.header {
    background-color: #3F9599;
    position: absolute;
    top: 100px;
    left: 40px;
    width: 1200px;    
  }

  .avatar {
    width: 165px;
  height: 165px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  right: 50px;
  position: absolute;
  top: -12%;
  z-index: 1;
  }

/*Right section styles*/

.right-section{
    padding-left: 40px;
    padding-right: 20px;
    background-color: #fff;
    width: 1800px;
  }

.sectiune-despre-mine-profesie{
    font-size: 14px;
    color: black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
}

#numePersoana{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.main-section{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}

.sectiune-despre-mine{
    margin-top: 225px;
}

.sectiune-despre-mine p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.sectiune-proiecte {
    margin-top: 40px;
}

.block-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 50px;
}

.projects-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
    margin-left: 10px;
}

.projects-item a {
    color: #595959;
}

.sectiune-proiecte ol {
    padding-left: 18px;
}

ol li, .bracket {
    color:#000;
    font-weight: 700;
}

.sectiune-experienta{
    margin-top: 50px;}

.work-experience-position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.company {
    color:#3F9599;
}

.work-experience-period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.line {
    color: black;
}

.work-experience-description {
    padding-left: 18px;
}


.work-experience-description li, .courses {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.education-level {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #3F9599;
}

.education-speciality {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* STILURI SIDEBAR */

.sectiune-sidebar{
    background-color: #5B5B66;
    width: 700px;
}

 

.sidebar-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #fff
    }

.sectiune-contacte, .sectiune-tech-skills, .sectiune-soft-skills{
    margin-left: 40px;
    margin-top: 225px;

}

.sectiune-contacte-tip{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.sectiune-contacte-valoare{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.sidebar-list{
    color: #3F9599;
    padding-left: 20px;
}

.sidebar-list span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
